*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    margin-top: 10px;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 30%;
    /* height: 50%; */
    margin-left: 28%;
    margin-right: 28%;

}
body{
    
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(#e1e5e6, #000000);
    /* backdrop-filter: blur(200px);  */
} 
.submit{
    margin-top: 10px;
     height: 40px;
    width: 15%;
    color: #eee;
    background-color: green;
    border: 2px solid black;
    border-radius: 60px;
    margin-left: 43%;
    cursor: pointer;
}

.Google{
   background-color: #eee;
   color: #000000;
   height: 40px;
   width: 15%;
   border: 2px solid black;
   border-radius: 60px;
   margin-left: 35%;
   /* margin-right: 350px; */
   cursor: pointer;
}
.github{

    background-color: black;
    color: #eee;
    height: 40px;
    width: 15%;
    border: 2px solid black;
    border-radius: 60px;
    margin-left: 2%;
    cursor: pointer;
}
.email{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    width: 30%;
    color: #F1EFEF;
    border-bottom: 2px solid #F1EFEF;
/* margin-right: 5%; */
    margin-left: 35%; 
    margin-right: 35%;
    margin-top: 5%;
}

.password{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    width: 30%;
    color: #F1EFEF;
    border-bottom: 2px solid #F1EFEF;
/* margin-right: 5%; */
    margin-left: 35%; 
    margin-top: 2%;

    margin-right: 35%; 

    /* margin-left: 20%; */
}
.h5{
    /* margin-top: %; */
    margin-left: 35%;
}
